body {
    font-family: Arial, sans-serif;
    background: #D4D9DD url("bg02.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Change from center to flex-start */
    height: 100vh; /* Adjusted to 100vh */
}

#page-wrapper {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login, #chat {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 90%;
}

#login input, #chat input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#login button, #chat button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#login button:hover, #chat button:hover {
    background: #0056b3;
}

#chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px;
    font-size:9pt;
}

#user-list-container {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    background: #f9f9f9;
    overflow-y: auto;
}

#chat-window {
    border: 1px solid #ddd;
    padding: 10px;
    height: 250px);
    overflow-y: scroll;
    margin-bottom: 10px;
    background: #f9f9f9;
}

#chat-window p:nth-child(even) {
    background-color: #f1f1f1;
}

#chat-window p:nth-child(odd) {
    background-color: #ffffff;
}

#user-list {
    margin-bottom: 10px;
}

#button-container {
    display: flex;
    justify-content: space-between;
}

#user-list p {
    margin: 0; /* Remove the gap */
    padding: 0;
}


